.flex-container {
	display: flex;
    flex-direction: row;
}

.container-direction {
    justify-content: space-between;
	
}

.image-size {
    width : 50; 
    height : 50;
}
/* .flex-container > div {
	margin: 10px;
	padding: 20px;
} */

/* .img-icon {
    width: 50px;
    height: 50px;
} */