.container {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .container-direction {
    
	
} */

.image-size {
    max-width : 1.2rem; 
    max-height :  1.2rem;
}
