.flex-container {
	display: flex;
    flex-direction: row;
}

.container-direction {
    justify-content: space-between;
	
}

.image-size {
    max-width : 1.2rem; 
    max-height :  1.2rem;
}
